.questionnaire-container {
    padding: 20px;
    width: 70vw;
    background-color: #E8E8E8;
    margin: auto;
    border-radius: 20px;
    color: #212121;
    text-align: left;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

th {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 0.1px solid #36363675;
}

.questionnaire-td-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionnaire-tr {
    border-bottom: 0.5px solid #8b8b8b75;
}


.questionnaire-container h2 {
    text-align: center;
    font-weight: bold;
}

.questionnaire-intitule {
    width: 10%;
}

.questionnaire-div-btn {
    width: 100%;
}

.questionnaire-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    margin-left: auto;
}

.close-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #727272;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    margin-left: auto;
}