.questionnaire-container {
    padding: 20px;
    width: 70vw;
    background-color: #E8E8E8;
    margin: auto;
    border-radius: 20px;
    color: #212121;
    text-align: left;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

th {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 0.1px solid #8b8b8b75;
}


.questionnaire-container h2 {
    text-align: center;
    font-weight: bold;
}

.questionnaire-intitule {
    width: 10%;
}